		p {
				color:; background: ;
			}
			h1 {
				color: orange; background:;
				text-decoration: underline;
			}
			td {
				color: orange; background:
			}
			th {
				background-color:
			}
			nav {
				background-color:
			}
			body {
				color: #ff00ff; 
				font-style: "comic sans -ms"
			}
			html {
				background: url(/img/mac.jpg);
			}