			h1 {
				color: orange; background:;
				text-decoration: underline;
			}
			td {
				color: orange; background:
			}
			th {
				background-color:
			}
			nav {
				background-color:
			}
			body {
				text-decoration: 606060; 
				font-style: "comic sans -ms";
				font-family: papyrus;
				text-transform: 

			}
			